.cell {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    box-sizing: border-box;
}

.ship {
    background-color: #7aa7c7;
}

.hit {
    background-color: red;
}

.miss {
    background-color: lightgray;
}

#player-board, 
#enemy-board {
    display: grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
    width: max-content;
    margin-bottom: 10px;
}

#enemy-board .cell {
    cursor: pointer;
}
