.cell {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    display: inline-block;
}

.hit {
    background-color: red;
}

.miss {
    background-color: lightgray;
}

#player-board, 
#enemy-board {
    width: 260px;
    margin-bottom: 10px;
}